# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build output
*.test
*.out

# Output of the go coverage tool
*.coverprofile

# Logs
*.log

# Dependency directories (if using older dependency managers)
vendor/

# Go workspace file (Go 1.18+)
go.work
go.work.sum

# IDE/editor-specific files
.vscode/
.idea/
*.swp
*.swo

# Build directories
build/
dist/

# config files
/config

/storage

# OS-specific files
.DS_Store
Thumbs.db
